* {
    box-sizing: border-box;
}
.stick{
    z-index: 10;
    top: 0;
    position: sticky;
}
/* ------------------- JavaScript ------------------- */
.neco{
    border: 2px solid red;
}
/* ------------------- Header Styles ------------------- */
.link-header{
    display: flex;
    width: 100%;
    padding: 15px;
    background-color: antiquewhite;
}
.link-header .left      {
    flex-basis: 15%;
    display: flex;
    justify-content:flex-start;
    align-items: center; 
}
.link-header .left img  {
    width: 100%;
    max-width: 120px;
    min-width: 70px;
}
.link-header .mid       {
    flex-basis: 80%;
    justify-content: center; 
    display: flex;
    align-items: center;
}
.link-header .mid a     {
    width: 100%;
    max-width: 170px;
    margin: 15px;
/*  border: 2px solid red;  */
}
.link-header .mid img   {
    width: 100%;
    max-width: 170px;
}
.link-header .right     {
    align-items: center;
    display: flex;
    flex-basis: 15%;
    justify-content:end;
}
.link-header .right img {
    width: 100%; 
    max-width: 50px;

}
/* ------------------------ About ---------------------- */
.about_section {
    background-image: url(PNG/PNG_car_front.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
}

.about_section p {
    line-height: 3px;
    color: rgb(255, 17, 0);
    font: italic bold 24px/30px Arial, sans-serif;
    text-indent: 30px;
    line-height: 1.5;
}
/* ------------------- Gallery Styles ------------------ */
.grid-layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    background-color: black;
    padding:50px;
    gap: 50px;
}
.gallery {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: auto auto auto;
    gap: 40px;
}
.gallery .image {
    position: relative;
}
.gallery .image p {
    position: absolute;
    left: 0;
    right: 0;
    border-bottom-color: #333;
}

.content {
    background-color: red;
}

.content img {
    width: 100%;
    height: auto;
}
/* ------------------- Ostatní ------------------ */
.CAP {
    text-transform: uppercase;
    text-decoration-line: underline;
}

.BOR {
    border-width: 5px;
    border-color: chartreuse;
    border-style: solid;
}

@media (max-width: 780px) {
    .grid-layout {
        grid-template-columns: 1fr;
    }

    .link-header{
        flex-direction: column;
    }
}